@import "../fonts.scss";
@import "../variables.scss";
@import "../scaffolding.scss";

.page-header {
    position: fixed;
    width: 100%;

    background-color: #051138;

    z-index: 10;
}

.page-header__wrapper {
    display: flex;
    margin-left: 480px;
    margin-right: 391px;
    padding-top: 35px;
    padding-bottom: 30px;
    max-width: 1049px;
    margin: 0 auto;
}

.page-header__logo {
    margin-right: 10px;
}

.page-header__logo-mobile,
.page-header__slogan-mobile {
    display: none;
}

.page-header__slogan {
    margin-right: 25px;
}

.page-header__nav {
    display: flex;
    flex-wrap: wrap;
    width: 706px;
}

.navigation__toggle {
    display: none;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navigation__item {
    margin-right: 15px;
    font-family: $font-bold;
    font-size: 12px;
    list-style: none;
}

.navigation__item a{
    color: #ffffff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


@media (max-width: 900px) {
    .page-header {
        width: 100%;
        position: fixed;
        margin-top: -1px;
        display: block;
    }

    .page-header__wrapper {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .page-header__slogan {
        display: none;
    }

    .page-header__mobile {
        display: flex;
        align-items: center;

        width: 100vw;
        height: 10vh;
        min-height: 50px;
    }

    .page-header__logo {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .page-header__logo-image {
        width: calc(50vw / 2);
        max-height: 100%;
    }

    .navigation__toggle {
        display: flex;
        align-items: center;

        position: absolute;
        padding: 0;
        
        right: 4vw;

        width: 36px;
        height: 50px; 

        
        border: none;
        background-color: transparent; 

        z-index: 20;
        
        &:hover,
        &:active,
        &:focus {
            outline: none;
        }
    }

    .page-header__mobile--closed .navigation__toggle span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #ffffff;

        &::before,
        &::after {
            display: block;
            position: absolute;
            content: "";

            width: 100%;
            height: 3px;
    
            background-color: #ffffff;
        }

        &::before {
            top: -10px; 
            left: 0;
        }

        &::after {
            bottom: -10px;
            left: 0;
        }
    }

    .navigation__toggle span {
        &::before,
        &::after {
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0s;
        }

        &::before{
            transition-property: top, transform;
        }

        &::after {
            transition-property: bottom, transform;
        }
    }

    .page-header__mobile--opened .navigation__toggle span {
        display: block;
        position: absolute;

        width: 100%;
        height: 3px;

        background: none;

        &::before {
            top: 0;
            transform: rotate(-45deg);
        }
        
        &::after {
            bottom: 0;
            transform: rotate(45deg);
        }

        &::before,
        &::after {
            display: block;
            position: absolute;
            content: "";

            width: 100%;
            height: 3px;
    
            background-color: #ffffff;
            transition-delay: 0s, 0.3s;
        }
    }



    .page-header__nav {
        position: absolute;
        width: 100vw;
        height: 101vh;

        background-color: #fff;

        transition-duration: 0.3s;
        transition-property: left;
    }

    .page-header__nav--closed {
        left: 105vw;
    }

    .page-header__nav--opened {
        left: 0;
    }

    .page-header__logo-mobile {
        display: flex;
        justify-content: center;
        
        width: 100vw;

        background-color: #051138;
    }

    .page-header__slogan-mobile {
        display: block;
        width: calc(70vw / 1.2);
    }

    .page-header__logo-mobile .page-header__logo-image {
        width: calc(70vw / 2);
    }

    .navigation__list {
        display: block;
        padding: 20px 0;

        text-align: center;
    }

    .navigation__item {
        position: relative;

        margin: 0;
        padding: 15px 0;
                
        font-size: calc(10vw / 2.2);
        line-height: 150%;

        &:not(:last-child)::after{
            content: "";

            position: absolute;
            bottom: 0;

            left: 60px;
            right: 60px;

            border-bottom: 1px dashed #051138;
        }
    }

    .navigation__item a {
        color: #051138;
    }

    .navigation__mobile-hidden {
        display: none;
    }
}

@media (max-width: 900px) and (orientation: landscape) { 
    .page-header__nav {
        overflow: auto;
    }

    .page-header__logo-mobile {
        min-height: 20vh;
    }

    .page-header__logo-mobile .page-header__logo-image {
        width: calc(60vw / 3);
    }
    
    .page-header__logo-mobile .page-header__slogan-mobile {
        width: calc(60vw / 2);
    }

    .navigation__list {
        margin: 0 auto;
        width: 65%;
    }

    .navigation__item {
        font-size: calc(10vw / 4);
    }
}